In [1]:
# Add dependencies
import glob
import pandas as pd

In [7]:

# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
data_2019 = pd.concat([pd.read_csv(f) for f in glob.glob('2019/*.csv')], ignore_index = True)
data_march = pd.concat([pd.read_csv(f) for f in glob.glob('march/*.csv')], ignore_index = True)

/Users/yoo/opt/anaconda2/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [3]:
clean_data_ridership.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [4]:
clean_data_ridership.count()

tripduration               422666
starttime                  422666
stoptime                   422666
start station id           422666
start station name         422666
start station latitude     422666
start station longitude    422666
end station id             422666
end station name           422666
end station latitude       422666
end station longitude      422666
bikeid                     422666
usertype                   422666
birth year                 422666
gender                     422666
dtype: int64

In [5]:
clean_data_trip.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Newport PATH,1.0,3183.0,40.716247,-74.033459,Exchange Place,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,329.0,Subscriber
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paulus Hook,1.0,3183.0,40.716247,-74.033459,Exchange Place,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,118.0,Subscriber
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paulus Hook,1.0,3183.0,40.716247,-74.033459,Exchange Place,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,76.0,Subscriber
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,City Hall,1.0,3183.0,40.716247,-74.033459,Exchange Place,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,578.0,Subscriber
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Warren St,1.0,3183.0,40.716247,-74.033459,Exchange Place,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,485.0,Subscriber

In [6]:
clean_data_trip.count()

Bike ID                    25712
Birth Year                 24318
End Station ID             25712
End Station Latitude       25712
End Station Longitude      25712
End Station Name           25712
Gender                     25712
Start Station ID           25712
Start Station Latitude     25712
Start Station Longitude    25712
Start Station Name         25712
Start Time                 25712
Stop Time                  25712
Trip Duration              25712
User Type                  25667
bikeid                     40715
birth year                 40715
end station id             40715
end station latitude       40715
end station longitude      40715
end station name           40715
gender                     40715
start station id           40715
start station latitude     40715
start station longitude    40715
start station name         40715
starttime                  40715
stoptime                   40715
tripduration               40715
usertype                   40715
dtype: int64

In [8]:
data_2019.to_csv("data_2019.csv")
data_march.to_csv("data_march.csv")